<!doctype html>
<title>Demo Feature App</title>
<html>
    <h4><a href="/">Return home</a></h4>

    <h2>The database has been seeded with demo data.</h2>
    <h3>Users:</h3>
    <ul>
    {% for key, value in users.items() %}
        <li> {{ key }} : {{ value }} </li>
    {% endfor %}
    </ul>
    <h3>Areas:</h3>
    <ul>
    {% for a in areas %}
        <li> {{ a }}</li>
    {% endfor %}
    </ul>
    <h3>Clients:</h3>
    <ul>
    {% for c in clients %}
        <li> {{ c }}</li>
    {% endfor %}
    </ul>

    <h3>Features:</h3>
    <ul>
    {% for f in features %}
        <li> 
            {{ f['title'] }}
            <ul>
                <li>Description: {{ f['description'] }}</li>
                <li>Client Priority: {{ f['client_priority'] }}</li>
                <li>Target Date: {{ f['target_date'] }}</li>
                <li>Area: {{ f['area'] }}</li>
                <li>Client: {{ f['client'] }}</li>
            </ul>
        </li>
    {% endfor %}
    </ul>

    
</html>
